@function typography-level($font-size, $line-height: $font-size, $font-weight: 400) {
  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight
  );
}

// Deprecated chinese font
@font-face {
  font-family: 'Hanzipen';
  src: url('./assets/fonts/hanzipen.otf');
}

// Chinese main font
@font-face {
  font-family: 'Noto Sans SC';
  src: url('./assets/fonts/NotoSansSC-Regular.otf');
}
@font-face {
  font-family: 'Noto Sans SC Black';
  src: url('./assets/fonts/NotoSansSC-Black.otf');
}

// Main Intl font
@font-face {
  font-family: 'Sequel Sans Black';
  // src: url('./assets/fonts/SequelSans-Black.otf') format('opentype');
  src: url('./assets/fonts/SequelSans-Black.ttf');
}
@font-face {
  font-family: 'Sequel Sans Light';
  src: url('./assets/fonts/SequelSans-Book.ttf');
}
@font-face {
  font-family: 'Sequel Sans Semi Bold';
  src: url('./assets/fonts/SequelSans-SemiBold.ttf');
}


@function font-size($level) {
  @return map-get($level, font-size);
}

@function line-height($level) {
  @return map-get($level, line-height);
}

@function font-weight($level) {
  @return map-get($level, font-weight);
}


$title:         typography-level(1.4em);
$subtext:       typography-level(12.8px, 20px, 400);
$very-big-icon: typography-level(200px);
$big-icon:      typography-level(2.35em);
$small-icon:    typography-level(1.4em);
$small-text:    typography-level(.8em);
$very-small-text:    typography-level(.6em);


* {
  font-family: 'Sequel Sans Light', serif;
  // letter-spacing: 1px;
}

.text-center {
  text-align: center;
}