<ion-header class="app-navbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title i18n>Activity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-activity-search">
  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let reaction of reactionService.reactions" [routerLink]="['/', 'reaction', 'detail', reaction._id]">
      <ion-avatar slot="start">
        <img [src]="reaction.user.image | mediaUrl:'image'" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <p class="main-label ion-text-wrap">
          <strong>{{reaction.user.name}}</strong>
          <span *ngIf="reaction.text" i18n> published a clapback: "{{reaction.text}}"</span>
          <span *ngIf="!reaction.text" i18n> published a clapback.</span>
        </p>
        <p class="hashtags">
          <span *ngFor="let tag of reaction.hashtags">#{{tag}} </span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="10px" (ionInfinite)="loadMoreReactions($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-empty-view *ngIf="!isLoading && reactionService.reactions.length === 0"
                  i18n-text text="There is nothing here !">
  </app-empty-view>

  <app-empty-view *ngIf="isLoading" spinner="true"></app-empty-view>
</ion-content>