<div class="app-reaction-camera">
  <div class="record-fab">
    <div class="record-button">
      <ion-button (click)="!isRecording ? startRecording() : stopRecording()" slot="icon-only">
        <fa-icon *ngIf="!isRecording" [icon]="['fas', 'circle']" size="2x"></fa-icon>
        <fa-icon *ngIf="isRecording" [icon]="['fas', 'stop']" size="2x"></fa-icon>
      </ion-button>
    </div>
  </div>

  <div class="gallery-button">
    <ion-button slot="icon-only" (click)="chooseFile()">
      <fa-icon [icon]="['fas', 'images']" size="2x"></fa-icon>
    </ion-button>
  </div>

  <div class="switch-button">
    <ion-button slot="icon-only" (click)="switch()">
      <fa-icon [icon]="['fas', 'undo']" size="2x"></fa-icon>
    </ion-button>
  </div>
</div>
