.app-reaction-camera {
  .record-fab {
    position: absolute;
    bottom: 5%;
    width: 100%;

    .record-button {
      margin: 0 auto;
      width: $btn-size-lg;
      ion-button {
        @extend .btn-icon-large;
      }
    }
  }

  .gallery-button, .switch-button {
    position: absolute;
    bottom: 5%;
    @extend .margin-left;
    ion-button {
      @extend .btn-icon-small;
    }
  }

  .switch-button {
    right: 12px;
  }
}